body {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  align-items: center;     /* vertical-centering */
  justify-content: center; /* horizontal-centering */
  background: black;
}

div {
  font-family: Arial;
  font-size: 6em;
  padding: 0.5em;
  color: lightgrey;
  text-align: center;
}

.highlight {
  color: black;
  background: lightgrey;
  transition: background 0.5s;
}
